body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: white;
}


.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.4;
    font-weight: bold;

}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem;;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu';
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

/* download buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title image*/


.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}


/* features */

#features {
    text-align:center;
    color: #8f8f8f;
    padding: 7% 15%; 
    background-color: #fff;
    position: relative;
}

.features-title {
    font-family: 'Montserrat-Bold' , sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.icon {
    color: #ef8172;
    font-size: 3rem;
}

.icon:hover {
    color: #ff4c68;
    font-size: 3rem
}

/* testimaonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing */

#pricing {
    padding:100px;
    text-align:center;
}

.pricing-row {
}

.pricing-column {
    padding: 5% 2%;
}

#cta {
    background-color: #ff4c68;
    padding: 15%;
    text-align: center;
}


.cta-heading {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    text-align:center;
    line-height: 1.5;
    padding: 5%;
}


#footer {
    background-color: #fff;
    padding: 7% 15% ;
    text-align: center;
}

.footer-icons {
    margin: 20px 10px;
}

.footer-p {
    color:#8f8f8f;
    font-weight: bolder;
}

@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 300px;
    }
}